## 날짜/시간 속성 접근자 .dt
- https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.dt.html
- **시리즈**에서 날짜와 시간과 관련된 속성에 접근할 때 사용되는 기능
- `.str`처럼 `.dt.메소드`, `.dt.속성` 으로 사용
    - 속성(properties) : https://pandas.pydata.org/docs/reference/series.html#datetime-properties
    - 메소드(methods) : https://pandas.pydata.org/docs/reference/series.html#datetime-methods

In [1]:
import pandas as pd

In [2]:
dec = pd.date_range('2024.12.01', '2024.12.31', freq='W-MON')
dec

DatetimeIndex(['2024-12-02', '2024-12-09', '2024-12-16', '2024-12-23',
               '2024-12-30'],
              dtype='datetime64[ns]', freq='W-MON')

In [3]:
# Series 화
pd.Series(dec)

0   2024-12-02
1   2024-12-09
2   2024-12-16
3   2024-12-23
4   2024-12-30
dtype: datetime64[ns]

In [4]:
# DataFrame화
pd.DataFrame(dec, columns=['Weeks'])

       Weeks
0 2024-12-02
1 2024-12-09
2 2024-12-16
3 2024-12-23
4 2024-12-30

In [5]:
# 체인형으로 프로그래밍 하고 싶다면 .to_frame()
dec.to_frame(name='Weeks')

                Weeks
2024-12-02 2024-12-02
2024-12-09 2024-12-09
2024-12-16 2024-12-16
2024-12-23 2024-12-23
2024-12-30 2024-12-30

In [6]:
dec.to_frame(name='Weeks').info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2024-12-02 to 2024-12-30
Freq: W-MON
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weeks   5 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 80.0 bytes

In [7]:
# Series화 > .toFrame을 통한 DataFrame
pd.Series(dec).to_frame('Weeks')

       Weeks
0 2024-12-02
1 2024-12-09
2 2024-12-16
3 2024-12-23
4 2024-12-30

- 시리즈화를 직접하진 않고, DataFrame에서 조회하면 시리즈일 것
- 때문에 `pd.Series(dec).to_frame({name})` 형태를 기억하기

In [8]:
dec_df = pd.Series(dec).to_frame('Weeks')
dec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weeks   5 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 172.0 bytes

## `.dt`로 속성 접근

- 속성(properties) : https://pandas.pydata.org/docs/reference/series.html#datetime-properties
- 메소드(methods) : https://pandas.pydata.org/docs/reference/series.html#datetime-methods

In [9]:
# .dt를 통해 속성(Properties) 접근 객체 생성
dec_df['Weeks'].dt

In [10]:
# Python Datetime하듯 .day로 바로 접근하면 에러
dec_df['Weeks'].day

AttributeError: 'Series' object has no attribute 'day'

In [11]:
# 중간에 .dt 넣으면
dec_df['Weeks'].dt.day

0     2
1     9
2    16
3    23
4    30
Name: Weeks, dtype: int32

In [12]:
dec_df['Weeks'].dt.year

0    2024
1    2024
2    2024
3    2024
4    2024
Name: Weeks, dtype: int32

In [13]:
dec_df['Weeks'].dt.month

0    12
1    12
2    12
3    12
4    12
Name: Weeks, dtype: int32

In [14]:
dec_df['Weeks'].dt.day_name()

0    Monday
1    Monday
2    Monday
3    Monday
4    Monday
Name: Weeks, dtype: object

In [15]:
dec_df['Weeks'].dt.to_period()

0    2024-11-26/2024-12-02
1    2024-12-03/2024-12-09
2    2024-12-10/2024-12-16
3    2024-12-17/2024-12-23
4    2024-12-24/2024-12-30
Name: Weeks, dtype: period[W-MON]

In [16]:
dec_df['Weeks'].dt.strftime('%B %D, %Y, %r')

0    December 12/02/24, 2024, 12:00:00 AM
1    December 12/09/24, 2024, 12:00:00 AM
2    December 12/16/24, 2024, 12:00:00 AM
3    December 12/23/24, 2024, 12:00:00 AM
4    December 12/30/24, 2024, 12:00:00 AM
Name: Weeks, dtype: object

In [17]:
dec_df['Weeks'].dt.strftime('%Y년 %m월 %d일')

0    2024년 12월 02일
1    2024년 12월 09일
2    2024년 12월 16일
3    2024년 12월 23일
4    2024년 12월 30일
Name: Weeks, dtype: object