## 재색인(reindex)
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.reindex.html
- https://pandas.pydata.org/docs/reference/api/pandas.Series.reindex.html
- https://pandas.pydata.org/docs/reference/api/pandas.Index.reindex.html
- 인덱스를 새로운 인덱스로 변경하거나 재정렬하는 작업
- 데이터를 새로운 인덱스에 맞게 재배열하거나 누락된 값을 처리하는 데 유용
- 시리즈, 데이터프레임 모두 가능

## 재색인 간단 예제

In [1]:
import pandas as pd

### Series

In [2]:
# 기존 Series 생성
series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series

a    1
b    2
c    3
dtype: int64

In [3]:
# 새로운 인덱스로 재정렬
new_index = ['c', 'b', 'a', 'd']
new_series = series.reindex(new_index)

In [4]:
new_series

c    3.0
b    2.0
a    1.0
d    NaN
dtype: float64

### DataFrame

In [5]:
# 기존 DataFrame 생성
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=['a', 'b', 'c'])
df

   A  B
a  1  4
b  2  5
c  3  6

In [6]:
# 새로운 인덱스로 재정렬
new_index = ['c', 'b', 'a', 'd']
new_df = df.reindex(new_index)

In [7]:
new_df

     A    B
c  3.0  6.0
b  2.0  5.0
a  1.0  4.0
d  NaN  NaN

## 본 데이터 실습 - 시계열의 재색인

In [8]:
import pandas as pd

In [10]:
cols = ['date', 'open', 'high', 'low', 'close']

In [11]:
stocks = pd.read_csv('AAPL.csv', usecols=cols, index_col='date', parse_dates=['date'])

In [13]:
stocks.loc['2016']

                            close      high     low    open
date
2016-01-04 00:00:00+00:00  105.35  105.3680  102.00  102.61
2016-01-05 00:00:00+00:00  102.71  105.8500  102.41  105.75
2016-01-06 00:00:00+00:00  100.70  102.3700   99.87  100.56
2016-01-07 00:00:00+00:00   96.45  100.1300   96.43   98.68
2016-01-08 00:00:00+00:00   96.96   99.1100   96.76   98.55
...                           ...       ...     ...     ...
2016-12-23 00:00:00+00:00  116.52  116.5200  115.59  115.59
2016-12-27 00:00:00+00:00  117.26  117.8000  116.49  116.52
2016-12-28 00:00:00+00:00  116.76  118.0166  116.20  117.52
2016-12-29 00:00:00+00:00  116.73  117.1095  116.40  116.45
2016-12-30 00:00:00+00:00  115.82  117.2000  115.43  116.65

[252 rows x 4 columns]

현재 위 데이터에 없는 요일이 있다.

In [14]:
stocks.index.day_name().value_counts()

date
Wednesday    257
Tuesday      257
Thursday     255
Friday       253
Monday       236
Name: count, dtype: int64

## 월화수목금+토일

### 1. 기간 찾기

In [16]:
# 가장 과거 날짜
min_date = stocks.index.min()
min_date

Timestamp('2015-05-27 00:00:00+0000', tz='UTC')

In [17]:
# 가장 최근 날짜
max_date = stocks.index.max()
max_date

Timestamp('2020-05-22 00:00:00+0000', tz='UTC')

2개 모두 Timestamp()이니 날짜 포맷 문자열 대신 활용 가능

### 2. 비어있는 날짜까지 데이터 생성

In [20]:
new_index = pd.date_range(start=min_date, end=max_date, freq='D')
new_index

DatetimeIndex(['2015-05-27 00:00:00+00:00', '2015-05-28 00:00:00+00:00',
               '2015-05-29 00:00:00+00:00', '2015-05-30 00:00:00+00:00',
               '2015-05-31 00:00:00+00:00', '2015-06-01 00:00:00+00:00',
               '2015-06-02 00:00:00+00:00', '2015-06-03 00:00:00+00:00',
               '2015-06-04 00:00:00+00:00', '2015-06-05 00:00:00+00:00',
               ...
               '2020-05-13 00:00:00+00:00', '2020-05-14 00:00:00+00:00',
               '2020-05-15 00:00:00+00:00', '2020-05-16 00:00:00+00:00',
               '2020-05-17 00:00:00+00:00', '2020-05-18 00:00:00+00:00',
               '2020-05-19 00:00:00+00:00', '2020-05-20 00:00:00+00:00',
               '2020-05-21 00:00:00+00:00', '2020-05-22 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=1823, freq='D')

In [21]:
new_index.day_name().value_counts()

Wednesday    261
Thursday     261
Friday       261
Saturday     260
Sunday       260
Monday       260
Tuesday      260
Name: count, dtype: int64

### 3.1 재색인(reindex) + 결측치 채우기('휴장)

In [22]:
stocks.reindex(new_index)

                             close    high       low    open
2015-05-27 00:00:00+00:00  132.045  132.26  130.0500  130.34
2015-05-28 00:00:00+00:00  131.780  131.95  131.1000  131.86
2015-05-29 00:00:00+00:00  130.280  131.45  129.9000  131.23
2015-05-30 00:00:00+00:00      NaN     NaN       NaN     NaN
2015-05-31 00:00:00+00:00      NaN     NaN       NaN     NaN
...                            ...     ...       ...     ...
2020-05-18 00:00:00+00:00  314.960  316.50  310.3241  313.17
2020-05-19 00:00:00+00:00  313.140  318.52  313.0100  315.03
2020-05-20 00:00:00+00:00  319.230  319.52  316.2000  316.68
2020-05-21 00:00:00+00:00  316.850  320.89  315.8700  318.66
2020-05-22 00:00:00+00:00  318.890  319.23  315.3500  315.77

[1823 rows x 4 columns]

In [23]:
# .fillna()로 채우거나, fill_value=로 채우거나
# stocks.reindex(new_index).fillna('휴장')
stocks_new1 = stocks.reindex(new_index, fill_value='휴장')
stocks_new1

                             close    high       low    open
2015-05-27 00:00:00+00:00  132.045  132.26    130.05  130.34
2015-05-28 00:00:00+00:00   131.78  131.95     131.1  131.86
2015-05-29 00:00:00+00:00   130.28  131.45     129.9  131.23
2015-05-30 00:00:00+00:00       휴장      휴장        휴장      휴장
2015-05-31 00:00:00+00:00       휴장      휴장        휴장      휴장
...                            ...     ...       ...     ...
2020-05-18 00:00:00+00:00   314.96   316.5  310.3241  313.17
2020-05-19 00:00:00+00:00   313.14  318.52    313.01  315.03
2020-05-20 00:00:00+00:00   319.23  319.52     316.2  316.68
2020-05-21 00:00:00+00:00   316.85  320.89    315.87  318.66
2020-05-22 00:00:00+00:00   318.89  319.23    315.35  315.77

[1823 rows x 4 columns]

### 3.2 재색인(reindex) + 결측치 채우기(이전일)

In [24]:
stocks.reindex(new_index).ffill()

                             close    high       low    open
2015-05-27 00:00:00+00:00  132.045  132.26  130.0500  130.34
2015-05-28 00:00:00+00:00  131.780  131.95  131.1000  131.86
2015-05-29 00:00:00+00:00  130.280  131.45  129.9000  131.23
2015-05-30 00:00:00+00:00  130.280  131.45  129.9000  131.23
2015-05-31 00:00:00+00:00  130.280  131.45  129.9000  131.23
...                            ...     ...       ...     ...
2020-05-18 00:00:00+00:00  314.960  316.50  310.3241  313.17
2020-05-19 00:00:00+00:00  313.140  318.52  313.0100  315.03
2020-05-20 00:00:00+00:00  319.230  319.52  316.2000  316.68
2020-05-21 00:00:00+00:00  316.850  320.89  315.8700  318.66
2020-05-22 00:00:00+00:00  318.890  319.23  315.3500  315.77

[1823 rows x 4 columns]

In [38]:
stocks_new2 = stocks.reindex(new_index, method='ffill')
stocks_new2

                             close    high       low    open
2015-05-27 00:00:00+00:00  132.045  132.26  130.0500  130.34
2015-05-28 00:00:00+00:00  131.780  131.95  131.1000  131.86
2015-05-29 00:00:00+00:00  130.280  131.45  129.9000  131.23
2015-05-30 00:00:00+00:00  130.280  131.45  129.9000  131.23
2015-05-31 00:00:00+00:00  130.280  131.45  129.9000  131.23
...                            ...     ...       ...     ...
2020-05-18 00:00:00+00:00  314.960  316.50  310.3241  313.17
2020-05-19 00:00:00+00:00  313.140  318.52  313.0100  315.03
2020-05-20 00:00:00+00:00  319.230  319.52  316.2000  316.68
2020-05-21 00:00:00+00:00  316.850  320.89  315.8700  318.66
2020-05-22 00:00:00+00:00  318.890  319.23  315.3500  315.77

[1823 rows x 4 columns]

## 4. 요일 열 추가

In [39]:
days = stocks_new2.index.day_name(locale='ko_KR.utf8')

In [40]:
stocks_new2.insert(0, '요일', days)
stocks_new2

                                  요일    close    high       low    open
2015-05-27 00:00:00+00:00  수요일  132.045  132.26  130.0500  130.34
2015-05-28 00:00:00+00:00  목요일  131.780  131.95  131.1000  131.86
2015-05-29 00:00:00+00:00  금요일  130.280  131.45  129.9000  131.23
2015-05-30 00:00:00+00:00  토요일  130.280  131.45  129.9000  131.23
2015-05-31 00:00:00+00:00  일요일  130.280  131.45  129.9000  131.23
...                              ...      ...     ...       ...     ...
2020-05-18 00:00:00+00:00  월요일  314.960  316.50  310.3241  313.17
2020-05-19 00:00:00+00:00  화요일  313.140  318.52  313.0100  315.03
2020-05-20 00:00:00+00:00  수요일  319.230  319.52  316.2000  316.68
2020-05-21 00:00:00+00:00  목요일  316.850  320.89  315.8700  318.66
2020-05-22 00:00:00+00:00  금요일  318.890  319.23  315.3500  315.77

[1823 rows x 5 columns]