# 시리즈(Series)
- Shift + Tab : Docstring
- https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [2]:
# 참조 - import pandas
import pandas as pd

In [3]:
numbers = list(range(3, 14))
numbers

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [4]:
pd.Series(numbers)

0      3
1      4
2      5
3      6
4      7
5      8
6      9
7     10
8     11
9     12
10    13
dtype: int64

In [8]:
letters = list('programmers')
letters

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 's']

In [10]:
pd.Series(letters, index=numbers)

3     p
4     r
5     o
6     g
7     r
8     a
9     m
10    m
11    e
12    r
13    s
dtype: object

In [12]:
# len(index) == len(values)
letters_index = [ f"문자{i}" for i in range(1,12) ]
letters_index

['문자1', '문자2', '문자3', '문자4', '문자5', '문자6', '문자7', '문자8', '문자9', '문자10', '문자11']

In [14]:
pd.Series(letters, index=letters_index)

문자1     p
문자2     r
문자3     o
문자4     g
문자5     r
문자6     a
문자7     m
문자8     m
문자9     e
문자10    r
문자11    s
dtype: object

In [16]:
# Dict -> Series
user = {
    "name": "Spencer",
    "age": 20,
    "job": None
}

In [18]:
# key->index, value->value
pd.Series(user)

name    Spencer
age          20
job        None
dtype: object

In [20]:
# Dict->Series 할 때 index를 지정하면
pd.Series(user, index=['name', 'age', 'address'])

name       Spencer
age             20
address        NaN
dtype: object